:root {
  --main-bg-color: #2D3E4E; /* Svartblár */
  --2nd-bg-color: #8CBDB9; /* Sægrænn */
  --3rd-bg-color; #E09E50; /*Grænn */
}
body {
background-color: #E8ECEB !important;
color: var(--main-bg-color);
font-size: 24px;
}
table {
    border: 2px solid var(--main-bg-color);
    margin-left:auto;
    margin-right:auto;
    background-color: var(--2nd-bg-color);
}
table th {
    background-color: var(--2nd-bg-color);
    text-align: center;
    padding: 10px;
}
table td {
    max-width: 1000px;
    border: 2px solid var(--main-bg-color);
    word-break: break-all;
}
table td select{
   background-color:#E8ECEB;
}
textarea.desc{
     text-algin: left;
     border:0.1em solid #EDF5E1;
     width:990px;
     height:150px;
     overflow-x: auto;
     color: var(--main-bg-color);
     background-color:var(--3rd-bg-color);
     resize: none;
}
textarea.desc:focus, input:focus{
    outline: none;
}
input{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #EDF5E1;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: var(--main-bg-color);
    text-align:center;
    transition: all 0.2s;
    background-color: #E8ECEB;
}



button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #EDF5E1;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:
    text-align:center;
    transition: all 0.2s;
    background-color:#5CBD95;
}

button:hover{
    color:var(--main-bg-color);
    background-color:var(--2nd-bg-color);
}
a:link {
  color: blue;
  text-decoration: none;
  appearance: button;
  padding: 2px;
}

/* visited link */
a:visited {
  color: blue;
  text-decoration: none;
  appearance: button;
}

/* mouse over link */
a:hover {
  color: var(--2nd-bg-color);
  text-decoration: none;
  appearance: button;
}

/* selected link */
a:active {
  color: var(--main-bg-color);
  text-decoration: none;
  appearance: button;
}

h2 {
    margin: auto;
    width: 100%;
    text-align: center;
    color: var(--main-bg-color);
}
 fieldset {
     min-width: 200px;
     display: inline-block;
 }

 fieldset input{
     float: right;
 }