<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mainstyle.css}"/>
</head>
<body>
<a th:href="@{/hike}">Back</a>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>id</th>
    </tr>
    </thead>
    <tbody>
    <tr>

        <form action="#" th:action="@{/addhike}" th:object="${hike}" method="post">
            <td>
                <input type="text" th:field="*{name}" id="name" placeholder="Title">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
            <td>
                <Textarea class="desc" type="text" th:field="*{description}" id="description" placeholder="Description"></Textarea>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span></td>
            <td>
                <input type="text" th:field="*{location}" id="location" placeholder="Location">
                <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span></td>
            <td></td>
            <td></td>
            <td> <button type="submit" value="Add Hike">Add Hike</button></td>
        </form>

    </tr>
    <tr th:each="hike : ${hikes}">
        <td th:text="${hike.name}"></td>
        <td th:text="${hike.description}"></td>
        <td th:text="${hike.location}"></td>
        <td th:text="${hike.id}"></td>
        <td><a th:href="@{/hike/{id}/(id=${hike.id})}">View</a></td>
        <td> <!--DELETE button-->
            <form action="#" th:action="@{/addhike/{hikeid}/(hikeid=${hike.id})}" th:method="DELETE" >
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" id="submitButton">Delete</button>
            </form>
        </td>
    </tr>


    </tbody>
</table>

</body>
</html>
