<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mainstyle.css}"/>
    <title>Velkomin á signup síðuna</title>
</head>
<body>
<form action="#" th:action="@{/signup}" th:object="${profile}" method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" paceholder="name">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <label for="password">password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="age">age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <label for="admin">admin</label>
    <input type="text" th:field="*{admin}" id="admin" placeholder="admin">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{admin}"></span>
    <input type="submit" value="Signup">
</form>
</body>
</html>