<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mainstyle.css}"/>
</head>
<body>
<div th:switch="${hikes}">
<!--    <h2 th:case="null">No hikes yet!</h2> -->
    <div th:case="*">
        <h2>Hikers Iceland</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
<!--<<<<<<< HEAD-->
<!--                <tr th:each="hike : ${hikes}">-->
<!--                    <td th:text="${hike.name}"></td>-->
<!--                    <td th:text="${hike.description}"></td>-->
<!--                    <td th:text="${hike.location}"></td>-->
<!--                    <td th:text="${hike.image}"></td>-->
<!--                    <td th:text="${hike.id}"></td>-->
<!--                    <td><a th:href="@{/hike/{id}/(id=${hike.id})}">View</a></td>-->
<!--                </tr>-->
<!--=======-->
            <tr th:each="hike : ${hikes}">
                <td th:text="${hike.name}"></td>
                <td th:text="${hike.description}"></td>
                <td th:text="${hike.location}"></td>
                <td><a th:href="@{/hike/{id}/(id=${hike.id})}">View</a></td>
            </tr>
<!-- ==== -->
            </tbody>
        </table>
    </div>
    <p><a href="/addhike">Add a new hike</a></p>
    <p><a href="/signup"> Signup</a></p>
    <p><a href="/login"> Login</a></p>
    <p><a href="/myprofile"> My profile</a></p>
</div>
</body>
</html>